 <%= favicon_link_tag %>
<div class="headline"></div>
<div id="header">
	
	<%=image_tag 'logo-black.png',:id => 'logo'%>

    	<!--	<i class="icon-twitter fade"></i>
    			<i class="icon-facebook fade"></i> these do the timed fade-->
	<div class="mask-icons-container">
		<%= link_to 'http://www.facebook.com/storytelleris',:target => '_blank' do %>
	    		<i class="icon-facebook-sign hover-black"></i>
		<% end %>
		<%= link_to 'http://www.twitter.com/storyteller_IS',:target => '_blank' do %>
	    		<i class="icon-twitter hover-black"></i>
		<% end %>
	</div>

	<div id="toggle_container"><div id="toggle_mover"></div><div class="spacer"></div><div id="toggle">+</div></div>
	<div id="learn" class="learnhow">Learn How</div>
	<%=image_tag 'redefine.png',:class => 'headline-image'%>
		<div id="vertical_slide" class="tray">
			
			<div class="margin">
				<div class="heading">The places that matter most
to us in this world, are not defined by their boundaries and buildings. They are defined by our stories from within them.
				</div>
				<div class="line"</></div>
	   			<div class="row">
    				<div class="span6">
      <p>Storyteller is where these stories can live. We are an online platform where anyone, anywhere, can share brief stories about the places that populate their lives. Whether home-telling, nostalgia-telling, or travel-telling. Our goal: to allow for a more accesible, yet still beautiful way to see our world. <br/><br/>Every place is filled with stories. And every place should be filled with storytellers.</p>
   <!--  <p><a class="btn" href="#">View details &raquo;</a></p> -->
    				</div>
    				<div class="span5">
		<p><i>Be a storyteller.</i>  We are currently collecting initial content for the site. Email us at <a href="mailto:Tell@storyteller.is">tell@storyteller.is</a> to learn how you can contribute. </br></br><i>Be a storydweller.</i>  Like us on <a href="http://www.facebook.com/storytelleris" target="_blank">Facebook</a> and follow us on <a href="http://www.twitter.com/storyteller_IS" target="_blank">Twitter</a> to keep in touch as we grow.</p>
   					</div>
    <div class="span2 contact"></div>
  
     			</div><!-- row -->
     		</div><!-- margin -->
		</div><!--  tray -->
</div>


<!--End of styles-->


<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
	
	<div id="controls">
		
		<!--Slide captions displayed here-->
		<div id="slidecaption"></div>

	</div>
</div>
<footer>© 2013 STORYTELLER.IS</footer>

<!--preload imgs-->
<script type="text/javascript">

</script>	
